<div class="page-header">
  
  <h3 class="text-muted headfont" ><%= @user.full_name%></h3>
</div>


<div class ="well">
<% @statuses.each do |status| %>

<div class="status">
  
  <p class="paraFont"><%= status.content %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(status.created_at) + " ago", status %> 
   </div>
<% end %>
</div>