<div class = "row" >
<div class ="col-md-5">
    <legend><h2 class ="headerfont text-muted">Edit <%= resource_name.to_s.humanize %></h2></legend>
    
<div class = "well">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="namedeviseFont mar"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class = "namedeviseFont mar"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div class= "namedeviseFont mar"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class = "namedeviseFont mar"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>
</div>
    
    <div><%= f.submit "Update" %></div>
     
    
<% end %>
</div>
    
<div class = "col-md-3 col-md-offset-4 ">
        <legend><h3 class ="headerfont text-muted">Cancel my account</h3></legend>
<div class ="well" style = "background-color:#FF4D2D">
<p class = "unhappy paradeviseFont">Unhappy ? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>


</div>

<button class="btn btn-default text-muted" type="submit"><%= link_to "Back", :back %></button>
    

    
</div>
    
</div>
