<legend class="text-muted"><h2>Sign up</h2></legend>
<div class="row">
<div class= "col-md-3">
    

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="well">
<div class="paradeviseFont text-muted"><%= f.label :first_name %><br />
  <%= f.text_field :first_name, :autofocus => true %></div>

<div class="paradeviseFont text-muted"><%= f.label :last_name %><br />
  <%= f.text_field :last_name, :autofocus => true %></div>

<div class="paradeviseFont text-muted"><%= f.label :profile_name %><br />
  <%= f.text_field :profile_name, :autofocus => true %></div>

  <div class="paradeviseFont text-muted"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div class="paradeviseFont text-muted"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div class="paradeviseFont text-muted"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

    <div class="strong namedeviseFont mar text-center"><strong><%= f.submit "Sign up" %></strong></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
