<div class="page-header">
  <div class = "pull-right"><%= link_to "Post a New Status", new_status_path, class: "btn btn-success" %>
  </div>
  <h3 class="text-muted headfont" >All of the Statuses</h3>
</div>



<% @statuses.each do |status| %>
<div class="status">
	<div class = "row">
		
  <div class = "container">
		<div class = "col-md-1 imageSpacing">
		
			<%= image_tag status.user.gravatar_url %>
		</div>
		
	<div class = "col-md-7">
  <h3 class="nameFont lead text-muted"><%= status.user.full_name %></h3>
  <p class="paraFont"><%= status.content %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(status.created_at) + " ago", status %> 
    <span class="admin">
        <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default"> <%= link_to "Edit", edit_status_path(status) %></button>
        <button type="button" class="btn btn-default"> <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure            your want to delete this status?"} %></button>
        </div>
    </span>
  </div>
  
</div>

</div>

</div>
</div>
<% end %>
