<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
    <%= @status.user.full_name %>

</p>

<p>
  <b>Content:</b>
  <%= @status.content %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
