<legend><h2 class = "headerfont text-muted"> Forgot your password ?</h2></legend>
<div class="row">
<div class="col-md-4">
<div class="well">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="mar deviseparaFont"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div class="marForPass deviseparaFont"><%= f.submit "Send me reset password instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>
    </div>
</div>
</div>
