<div class ="row">

<div class = "col-md-3 well">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<legend><h2 class = "headerfont text-muted">Sign Up</h2></legend>
  
  <div class ="paradeviseFont text-muted mar"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div class ="paradeviseFont text-muted mar"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class ="paradeviseFont text-muted mar"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div class = "namedeviseFont text-muted mar"><%= f.submit "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>