.headerfont{
    font-family: Futura;
}

.paradeviseFont{
    font-family: Trebuchet MS;
}

.namedeviseFont{
    font-family: Optima;
}

.mar{
    margin-top:8px;
    margin-bottom:5px;
}


.marForPass{
    margin-top:15px;
    margin-bottom:10px;
}
.unhappy{
    color: white;
}