// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.headfont{
    font-family: Futura;
}

.paraFont{
    font-family: Andale Mono;
}

.nameFont{
    font-family: Open Sans;
}

.imageSpacing{
	margin-top:25px;
}

.status {
    margin-top:10px;
	border-bottom: solid 1px #E8D7BF;
	padding: 5px 0;
}

.status p {
	margin: 4px 0;
}

.status.hover {
	background: #FAFAFA;
}

.status .admin {
	display: none;
    margin-left: 20px;
}

.status.hover .admin {
	display: inline;
}

.mar{
    margin-top:8px;
    margin-bottom:5px;
}


.marForPass{
    margin-top:15px;
    margin-bottom:10px;
}