<!DOCTYPE html>
<html>
<head>
  <title>Reeker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
 
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li><%= link_to 'All Statuses',statuses_path %></li>
 
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
          
        	<% if user_signed_in? %>
						<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
						<li><%= link_to "Log Out", logout_path %><li>
					<% else %>
						<li><%= link_to "New To Reeker", register_path %></li>
						<li><%= link_to "Log in", login_path %></li>
					<% end %>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span          class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <% if user_signed_in? %>
            <li><%= link_to "Edit Account", edit_user_registration_path %></li>
               <li><%= link_to "Edit Password", editregistration_path %></li>
              <% end %>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
<div class = "container mainCon">
 <% flash.each do |type, message| %>
 			 <div class="alert <%= flash_class type %> text-center" role ="alert" >
				 
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 				  <%= message %>
 			</div>
 		<% end %>
<%= yield %>
</div>
          
</body>
</html>



